@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AYCEpXzofN0NOp8LkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/AYCLpXzofN0NMiQugG7jQA.ttf) format('truetype');
}
