@font-face {
  font-family: 'Sahitya';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/6qLAKZkOuhnuqlJAWSAPOw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sahitya';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/6qLFKZkOuhnuqlJAUZsqKyMlFg.ttf) format('truetype');
}
